# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../introtohibernate\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\lulch\OneDrive\Desktop\SpringData\Hibernet\introtohibernate_skeleton\introtohibernate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
