# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../04-jpa-codefirst-lab\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\lulch\OneDrive\Desktop\SpringData\Hibernet\introtohibernate_skeleton\04-jpa-codefirst-lab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
