# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\lulch\OneDrive\Desktop\SpringData\SpringData Advanced Quering\skeleton_for_adv_quering\skeleton_for_adv_quering\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
