# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../o3-hibernete-intro-lab\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\lulch\Downloads\code-with-gradle\o3-hibernete-intro-lab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
