# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\lulch\OneDrive\Desktop\SpringData\Exam Preparation\Real Deal_Skeleton\RealDeal_Skeleton\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
